body{
margin:0;
font-family:'Varela Round', sans-serif;
text-align:center;
overflow-x:hidden;
}


/* רקע זז */

body::before{
content:"";
position:fixed;
top:0;
left:0;
width:200%;
height:100%;
background:url("https://i.ibb.co/nMmWgCMg/atar.png");
background-repeat:repeat;
animation:bgmove 20s linear infinite;
z-index:-1;
}

@keyframes bgmove{
0%{transform:translateX(0);}
100%{transform:translateX(-50%);}
}


.main{

width:900px;
margin:auto;
background:white;
margin-top:40px;
padding:20px;
border-radius:20px;

}


h1,h2,h3{
color:#00a9ff;
}


button{

background:#00a9ff;
color:white;
border:none;
padding:10px;
border-radius:10px;
cursor:pointer;
font-family:'Varela Round', sans-serif;


}


.box{

border:2px solid #00a9ff;
padding:10px;
margin:10px;
display:inline-block;
width:250px;
vertical-align:top;
height:160px;
overflow:hidden;

}


/* ===== תיקוני עורך ואתר אישי ===== */

.ql-font-VarelaRound{
font-family:"Varela Round";
}

.ql-font-GveretLevin{
font-family:"Gveret Levin";
}

.ql-size-8px{font-size:8px;}
.ql-size-10px{font-size:10px;}
.ql-size-12px{font-size:12px;}
.ql-size-14px{font-size:14px;}
.ql-size-16px{font-size:16px;}
.ql-size-18px{font-size:18px;}
.ql-size-24px{font-size:24px;}
.ql-size-32px{font-size:32px;}
.ql-size-48px{font-size:48px;}
.ql-size-60px{font-size:60px;}
.ql-size-72px{font-size:72px;}


/* צדדים באתר אישי */

.side{

position:fixed;
top:0;
bottom:0;
width:200px;
background-size:200px;
background-repeat:repeat;
z-index:-1;

}

#left{left:0;}
#right{right:0;}



#sites{

max-height:140px;
overflow-y:auto;

}





/* הצגת מספרים במקום Normal בגודל פונט */

.ql-snow .ql-picker.ql-size .ql-picker-item::before {
content: attr(data-value);
}

.ql-snow .ql-picker.ql-size .ql-picker-label::before {
content: attr(data-value);
}

/* אם אין value (ברירת מחדל) */

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="false"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="false"]::before {
content: "16";
}
